<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>668EE9E41E27793B0090B58A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668EE9FB1E27793C0090B58A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668EEA061E27793C0090B58A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
